<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
      .container-v
      {
          float:left;
          padding: 1pc;
          width:33.33%;
        };
      
      .container-I
      {
        width: 1px;
        height: 1px;
      }
    </style>
</head>
<body>
    
  <!-- Creating a navigation bar for  -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">

          <div class="navbar-header">
            <a class="navbar-brand" href="#">Ledger</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Add Transactions</a></li>
            <li><a href="#">Illustrate</a></li>
          </ul>
        </div>
        
        <!-- Displaying current user signed in -->
        <div class="container" align="right" style="color: rgb(62, 182, 46); font-weight: bold;">Signed in as: Vedhanth</div>
      </nav>

    <!-- This is main container TO show  -->
    <div class="container" align="center" style="color:rgb(68, 157, 216); font-size: 4ch;">
      Welcome back Vedhanth!
    </div>

    <div class="container">

      <!-- This is to display pie chart -->
      <div class="container-v" >
        Look into your pie chart
        <div class="container-I">
          <a href="Piechart.html"><img class="images" src="Pictures/pie-chart-example-1.png" alt="Pie chart"
          style="width: 200px;"></a>
        </div>
      </div>
  
      <!-- This is to display previous transactions -->
      <div class="container-v">
        Look into your previous transactions

        <div class="container-I">
          <a href="Transactions.html"><img class="images" src="Pictures/unnamed.png" alt="Transactions"
            style="width: 200px;"></a>
        </div>
      </div>
  
      <!-- This is to display budget management analysis -->
      <div class="container-v">
        Manage your budget
        <div style="padding: 20px;">
          <a href="Transactions.html"><img class="images" src="Pictures/img_255634.png" alt="Add Transactions"
            style="width: 200px;"></a>
        </div>
      </div>
      
    </div>
</body>

</html>
