<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ledger</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>

</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Ledger</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Login</a></li>
            <li><a href="#">Home</a></li>
            <li><a href="http://neha0077.pythonanywhere.com/Transactions">Add Transactions</a></li>
            <li><a href="#">Illustrate</a></li>
          </ul>
        </div>
    </nav>


    <div class="container">
        <h3>Login</h3>
    </div>
    <div class="container">
        <form action="." method="post">
            <div class="form-group">

                <label for="UserName">UserName:</label><br>
                <input type="text" name="UserName" class="form-control">

            </div>
            <div class="form-group">

                <label for="Password">Password:</label><br>
                <input type="password" name="Password" class="form-control">

            </div>
            <div class="form-group">
                <td>
                    <input type="submit" value="Submit" class="btn btn-primary">
                </td>
            </div>
        </form>
    </div>

    <div class="container">

        <h3>Don't have an account?</h3>
        <a href="http://neha0077.pythonanywhere.com/Login | Signup">Signup here</a>
    </div>
</body>
</html>
