<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments </title>
</head>
<body>
    <h1>The comments are stored below</h1>

    <div class="container">

        {% for comment in comments %}
            <div class="row">
                {{ comment }}
            </div>
        {% endfor %}
    </div>
    <form action="." method="post">

        <p>Write down your comments over here</p>
        <input type="text" name = "comments">
        <input type="Submit" name="Submit">
    </form>
</body>
</html>