<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Transaction_form</title>
    </head>
    <body>
        <!-- Take in input of 1) Amount, 2) Use, 3) Time -->
        
        <!-- Create a table -->
    <div align = 'center'>
    
        <table id="Transaction_table">
            
            <!-- Create a form -->
            <form action="." method="post">
                
                    <!-- Create a first table head -->
                <thead>
                    <th>
                        Amount
                    </th>
                    <th>
                        Use
                    </th>
                    <th>
                        Time
                    </th>
                </thead>
                
                <tbody>
                    <!-- Creating a row which contains inputs of these headings -->
                    <tr>
                        <div>
                            <td>
                                <input type="text" name = "Amount">
                            </td>
                        </div>
                        <div>
                            <td>
                                <input type="text" name = "Use">
                            </td>
                        </div>
                        <div>
                            <td>
                                <input type="text" name = "Time">
                            </td>
                        </div>
                    </tr>
                    
                </tbody>
                <div align="center">
                    <input type="submit" value=Submit>
                </div>
            </form>
        </table>
    
        <input type="button" value = "Add Row" onclick="addRow()">
    </div>
    
    <script>

        function Submit()
        {
            // fetch HTML data from form to javascript
        }
        function addRow()
        {
            // accessing table and storing it in javascript object
            var table = document.getElementById('Transaction_table');

            if(table!= null)
            {
                console.log("Table created");

                // creating a row 
                var row = table.insertRow(-1);

                // inserting cells
                var cell1 = row.insertCell();
                var cell2 = row.insertCell();
                var cell3 = row.insertCell();

                // adding HTML code to cells in table
                cell1.innerHTML = '<input type="text" name="Amount">'
                cell2.innerHTML = '<input type="text" name="Use">'
                cell3.innerHTML = '<input type="text" name="Time">'
            }

            else
            {
                console.log("Table not created");
            }
        }
    </script>
</body>
</html>