<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Transaction_form</title>
    </head>
    <body>
    
        <div align = 'center'>
            {% for x in Transactions %}

                <div>
                    {% for y in x %}
                        
                        {{ y }}
                    
                    {% endfor %}
                </div>

            {% endfor %}
        </div>
        
    <div align = 'center'>
    
        <table id="Transaction_table">
            
            <!-- Create a form -->
            <form action="." method="post">
                
                    <!-- Create a first table head -->
                <thead>
                    <th>
                        Amount
                    </th>
                    <th>
                        Use
                    </th>
                    <th>
                        Time
                    </th>
                </thead>
                
                <tbody>
                    <!-- Creating a row which contains inputs of these headings -->
                    <tr>
                        <div>
                            <td>
                                <input type="text" name = "Amount">
                            </td>
                        </div>
                        <div>
                            <td>
                                <input type="text" name = "Use">
                            </td>
                        </div>
                        <div>
                            <td>
                                <input type="text" name = "Time">
                            </td>
                        </div>
                    </tr>
                    <tr>
                        <td>

                        </td>
                        <td>
                            <div align="center">
                                <input type="submit" value=Submit>
                            </div>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                </tbody>
            </form>
        </table>
    
    </div>
</body>
</html>