<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="." method="post">

        <div>
            <h3>Enter your details: </h3>
        </div>
        <div>
            <p>First Name: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name = "FirstName" ></p>
        </div>
        <div>
            <p>Last Name: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name = "LastName" ></p>
        </div>
        <div>
            <p>Mail Id: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name = "MailId" ></p>
        </div>
        <div>
            <p>Phone no: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name = "PhoneNo"> </p>
        </div>
        <div>
            <p>Age: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="date" name = "Age" ></p>
         </p>
        </div>
        <div>
            <p>Gender: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio"  name="Gender" value="Male">
                <label for="Male">Male</label>
                <input type="radio"  name="Gender" value="Female">
                <label for="Female">Female</label><br>
            </p>
            
        </div>
        <div>
            <p>Password: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="password" name="Password"></p>
        </div>
        <div>
            <p>Confirm Password:<input type="password" name="ConfirmPassword"></p>
        </div>
        <div>
            <p><input type="Submit" value = "Submit"></p>
        </div>
    </form>

</body>
</html>